appinventor/google-cloud-sdk/platform/google_appengine/google/appengine/tools/java/docs/dispatch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element type="dispatch-entries-Type" name="dispatch-entries"/>

  <xs:complexType name="dispatch-entries-Type">
    <xs:sequence>
      <xs:element type="dispatch-Type" name="dispatch" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dispatch-Type">
    <xs:all>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="xs:string" name="module"/>
    </xs:all>
  </xs:complexType>

</xs:schema>
